<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Smart House</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="/static/css/main.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="shortcut icon" href="/static/img/favicon.png" type="image/png">
    <script type="text/javascript" src="static/js/Chart.js"></script>
    <script type="text/javascript" src="static/js/api.js"></script>
</head>

<body>
    <header class="header-login-logout">

        <div class="header-limiter">

            <h1><a href="/"><img src="/static/img/favicon.png" alt="Smiley face" height="42" width="42"> </a></h1>

            <nav>
                <a href="/temperature" class="hover-color">Temperature</a>
                <a href="/humidity" class="hover-color">Humidity</a>
                <a href="/pressure" class="hover-color">Pressure</a>
                <a href="/lighting" class="hover-color">Lighting</a>
            </nav>

            <ul>
                <li><a href="/admin">Admin Panel</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>

        </div>

    </header>

    <!-- The content of your page would go here. -->


    <div class="split left">
        <div class="centered-fix">
            <div class="menu">

                <div title="Firmware versions of sensors">
                    <input type="radio" id="sensor-version" name="sensor-version" value="sensor1">
                    <label for="sensor1"> <a href="/static/sensors/sensor1">sensor1</a> </label><br>
                    <input type="radio" id="sensor-version" name="sensor-version" value="sensor2">
                    <label for="sensor2"> <a href="/static/sensors/sensor2">sensor2</a> </label><br>
                    <div class="container-login-form-btn m-t-17">
                        <button class="login-form-btn" id="update">
                            Upload New Firmware
                        </button>
                    </div>
                </div>
                <script>
                    window.addEventListener("load", function () {
                        let radio = document.getElementById("sensor-version");
                        let update = document.getElementById("update");

                        update.addEventListener("click", function (event) {
                            event.preventDefault();
                            if (radio.value == "sensor1") {
                                uploadFirmware("/static/sensors/sensor1");
                            } else {
                                uploadFirmware("/static/sensors/sensor2");
                            }
                        });
                    });
                </script>
            </div>
        </div>
    </div>

    <div class="split right">
        <div class="centered">
            <h2>Device</h2>
            <div id="device">
                <label>Temperature:</label><label id="temperature" name="temperature"></label>
                <hr>
                <label>Humidity:</label><label id="humidity" name="humidity"></label>
                <hr>
                <label>Pressure:</label><label id="pressure" name="pressure"></label>
                <hr>
                <label>Status:</label><label id="status" name="status"></label>
                <hr>
                <label>Admin Info:</label><label id="info" name="info"></label>
                <hr>
                <label>Battery:</label><label id="battery" name="battery"></label>
                <hr>
                <label>Work Time:</label><label id="time" name="time"></label>
                <hr>
                <label>Model Version:</label><label id="model" name="model"></label>
            </div>

            <script>
                var ctxD = document.getElementById('device');
                var myT = addAdminDevice(ctxD);
            </script>

        </div>
    </div>

</body>

</html>