<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Smart House</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="/static/css/main.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="shortcut icon" href="/static/img/favicon.png" type="image/png">
    <script type="text/javascript" src="static/js/Chart.js"></script>
    <script type="text/javascript" src="static/js/api.js"></script>
</head>

<body>
    <header class="header-login-logout">

        <div class="header-limiter">

            <h1><a href="/"><img src="/static/img/favicon.png" alt="Smiley face" height="42" width="42"> </a></h1>

            <nav>
                <a href="/temperature" class="hover-color">Temperature</a>
                <a href="/humidity" class="hover-color">Humidity</a>
                <a href="/pressure" class="hover-color">Pressure</a>
                <a href="/lighting" class="hover-color">Lighting</a>
            </nav>

            <ul>
                <li><a href="/admin">Admin Panel</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>

        </div>

    </header>

    <!-- The content of your page would go here. -->


    <div class="menu">
        <div class="chart-container" style="position: relative; height:75vh; width:75vw">
            <ul>
                <li><canvas id="pressure"></canvas></li>
            </ul>
        </div>

        <script>
            var ctxT = document.getElementById('pressure').getContext('2d');
            var myT = addPressureChart(ctxT);
        </script>

    </div>

</body>


</html>