<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Smart House</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="/static/css/main.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="shortcut icon" href="/static/img/favicon.png" type="image/png">
    <script type="text/javascript" src="static/js/Chart.js"></script>
    <script type="text/javascript" src="static/js/api.js"></script>
</head>

<body>
    <div class="wrapper">
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <h1><a href="/logout" class="hover-color">Logout</a></h1>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <ul>
                            <li><a href="/" class="hover-color">Dashboard</a></li>
                            <li><a href="/temperature" class="hover-color">Temperature</a></li>
                            <li><a href="/humidity" class="hover-color">Humidity</a></li>
                            <li><a href="/pressure" class="hover-color">Pressure</a></li>
                            <li><a href="/lighting" class="hover-color">Lighting</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>

        <div class="content">

            <div title="Firmware versions of sensors">
                <ul>
                    <li><a href="/static/sensors/sensor1">sensor1</a></li>
                    <li><a href="/static/sensors/sensor2">sensor2</a></li>
                </ul>
            </div>

        </div>

    </div>
</body>

</html>