<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Smart House</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="/static/css/main.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="shortcut icon" href="/static/img/favicon.png" type="image/png">
    <script type="text/javascript" src="static/js/Chart.js"></script>
    <script type="text/javascript" src="static/js/api.js"></script>
</head>

<body>
    <header class="header-login-logout">

        <div class="header-limiter">

            <h1><a href="/"><img src="/static/img/favicon.png" alt="Smiley face" height="42" width="42"> </a></h1>

            <nav>
                <a href="/temperature" class="hover-color">Temperature</a>
                <a href="/humidity" class="hover-color">Humidity</a>
                <a href="/pressure" class="hover-color">Pressure</a>
                <a href="/lighting" class="hover-color">Lighting</a>
            </nav>

            <ul>
                <li><a href="/admin">Admin Panel</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>

        </div>

    </header>

    <!-- The content of your page would go here. -->

    <div class="split left">
        <div class="centered-fix">
            <div class="chart-container" style="position: relative; height:25vh; width:25vw">
                <ul>
                    <li><canvas id="temperature"></canvas></li>
                    <li><canvas id="humidity"></canvas></li>
                    <li><canvas id="pressure"></canvas></li>
                </ul>
            </div>

            <script>
                var ctxT = document.getElementById('temperature').getContext('2d');
                var myT = addTemperatureChart(ctxT);

                var ctxH = document.getElementById('humidity').getContext('2d');
                var myH = addHumidityChart(ctxH);

                var ctxP = document.getElementById('pressure').getContext('2d');
                var myP = addPressureChart(ctxP);
            </script>
        </div>
    </div>

    <div class="split right">
        <div class="centered">
            <h2>Device</h2>
            <div id="device">
                <label>Temperature:</label><label id="temperature" name="temperature"></label>
                <hr>
                <label>Humidity:</label><label id="humidity" name="humidity"></label>
                <hr>
                <label>Pressure:</label><label id="pressure" name="pressure"></label>
                <hr>
                <label>Status:</label><label id="status" name="status"></label>
                <hr>
                <label>User Info:</label><label id="info" name="info"></label>
                <hr>
            </div>

            <script>
                var ctxD = document.getElementById('device');
                var myT = addDevice(ctxD);
            </script>

        </div>
    </div>

</body>

</html>